<%= erb :_cover %>
<div class="container">
  <h1>
    Registered Philadelphia Lobbyists
    <a class="view-more" href="/list/lobbyists">View all &raquo;</a> 
  </h1>
  <ul class="lobbyists">
  <% @lobbyists.each do |lobbyist| %>
    <li class="lobbyist">
      <h2><a href="/lobbyist/<%= lobbyist.id %>"><%= lobbyist.name %></a></h2>
      <ul>
        <li class="address">
          <%= lobbyist_addr lobbyist %>
        </li>
        <li class="phone">
          <%= lobbyist.phone %>
        </li>
        <li class="email">
          <%= link_to "mailto:#{lobbyist.email}", lobbyist.email %>
        </li>
      </ul>
    </li>
  <% end %>
  </ul>
</div>
