<%= erb :_cover %>
<div class="container">
  <ul class="lobbyists">
  <% @lobbyists.each do |lobbyist| %>
    <li class="lobbyist">
      <h2><%= lobbyist.name %></h2>
      <ul>
        <li class="address">
          <span><%= lobbyist.address1 %></span>
          <span><%= lobbyist.address2 %></span>
          <span><%= lobbyist.address3 %></span>
          <span><%= lobbyist.city %></span>
          <span><%= lobbyist.state %></span>
          <span><%= lobbyist.zip %></span>
        </li>
        <li class="phone">
          <%= lobbyist.phone %>
        </li>
        <li class="email">
          <%= link_to "mailto:#{lobbyist.email}", lobbyist.email %>
        </li>
      </ul>
    </li>
  <% end %>
  </ul>
</div>
