<!DOCTYPE HTML>
<html>
  <head>
    <title>Lobbying.ph - Who's Lobbying in Philadelphia?</title>
    <link href="/stylesheets/base.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><%= link_to "/", "Home" %></li>
          <li><%= link_to "#about", "About" %></li>
          <li><%= link_to "http://github.com/caseypt/lobbying.ph", "Source Code" %></li>
        </ul>
      </nav>
      <h1 class="container">
        <%= link_to "/", "Lobbying.ph" %>
        <span>Who's Lobbying in Philadelphia?</span>
      </h1>
      <form class="search" method="get" action="<%= if (@graphdata)
						    '/graphdata'
						    else
						    '/results'
						    end %>">
        <fieldset>
          <input class="text" type="text" name="search" value="<%= params[:search] %>" placeholder="Search Philly Lobbyists">
          <%#=
          NOTE: leaving this out for now
          <button type="submit">Submit</button>
          %>
        </fieldset>
      </form>
    </header>
    <%= yield %>
    <footer>
      <div class="container">
        <div id="about" class="column">
          <h2>About Lobbying.ph</h2>
          <p>Beginning in 2012, lobbyists and those paying for lobbyists in Philadelphia are required to register and file quarterly reports of their expenses with the <a href="http://www.phila.gov/ethicsboard/lobbying.html">City of Philadelphia Board of Ethics</a>. The Board of Ethics will make the data avaialble on a regular basis. This application seeks to catalog that data, make it more accesible, and host visualizations to help citizens better understand the influence of lobbying in Philadelphia.</p>
        </div>
        <div class="column">
          <h2>Developers</h2>
          <p>This app was created at Code Across America: Philadelphia's Civic Hackathon on February 25, 2012 by <a href="https://twitter.com/caseypt">@caseypt</a>, <a href="http://www.mikeball.us">Mike Ball</a>, <a href="https://twitter.com/#!/">@ahinz</a>, and <a href="https://twitter.com/#!/dannyJF">@DannyJF</a>.</p>
          <p>Design inspired by <a href="http://chicagolobbyists.org/">ChicagoLobbyist.org</a></p>
        </div>
      </div>
      <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29512200-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    </footer>
  </body>
</html>
