<!DOCTYPE HTML>
<html>
  <head>
    <link href="/stylesheets/base.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><%= link_to "/", "Home" %></li>
          <li><%= link_to "/about", "About" %></li>
          <li><%= link_to "http://github.com/caseypt/lobbying.ph", "Source Code" %></li>
        </ul>
      </nav>
      <h1 class="container">
        <%= link_to "/", "Lobbying.ph" %>
        <span>Who's Lobbying in Philadelphia?</span>
      </h1>
      <form class="search" method="get">
        <fieldset>
          <input class="text" type="text" name="search" placeholder="Search Philly Lobbyists">
          <%#=
          NOTE: leaving this out for now
          <button type="submit">Submit</button>
          %>
        </fieldset>
      </form>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
