<!DOCTYPE HTML>
<html>
  <head>
    <link href="/stylesheets/base.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><%= link_to "" "Home" %></li>
          <li><%= link_to "" "About" %></li>
          <li><%= link_to "http://github.com/caseypt/lobbying.ph", "Source Code" %></li>
        </ul>
      </nav>
      <h1 class="container">
        <%= link_to "/", "Lobbying.ph" %>
        <span>Who's Lobbying in Philadelphia?</span>
      </h1>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
