<%= erb :_cover %>
<div class="container">
  <h1>
    <%= @title %>
  </h1>
  <ul class="lobbyists">
  <% @data.each do |item| %>
    <li class="lobbyist">
      <h2><%= item.name %></h2>
      <ul>
        <li class="address">
          <%= address_string item %>
        </li>
        <li class="phone">
          <%= item.phone %>
        </li>
        <li class="email">
          <%= link_to "mailto:#{item.email}", item.email %>
        </li>
      </ul>
    </li>
  <% end %>
  </ul>
</div>
